<!DOCTYPE html>
<html>
<head>
	<title>MUSHROOOOOOOOOMS</title>
</head>
<body ng-app="app">
	<h1>MUSHROOMS ARE RAD</h1>
	<div ng-controller="MushController">

	<input type="text" ng-model="mushFinder" placeholder="Find your Mush">



		<div ng-init="poisonous = false">

			<input type="button" value="toggle" ng-click="poisonous = !poisonous">

			<span ng-show="poisonous">
				<h2>These are poisonous</h2>
				<li ng-repeat="mush in mushArr | filter:{edible:false} | filter: mushFinder">
					{{mush.name}}: <br> {{mush.description}}
				</li>
			</span>

			<span ng-hide="poisonous">
				<h2>These are not poisonous</h2>
				<li ng-repeat="mush in mushArr | filter:{edible:true} | filter: mushFinder">
					{{mush.name}}: <br> {{mush.description}}
				</li>
			</span>

		</div>

	</div>


	<!-- <p ng-init="allowed = false">
		The secret code is
		<span ng-show="allowed">0123</span>
		<span ng-hide="allowed">not for you sucka</span>
		<br>
		<input type="button" value="toggle" ng-click="allowed = !allowed">
	</p> -->



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>